{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tushar Tiwari</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <!-- Static CSS and JS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
  </head>

  <body>
    <header>
      <nav>
        <div class="left">Tushar's Portfolio</div>
        <div class="right">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'links' %}">Links</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section class="firstsection">
        <div class="leftsection">
          Hi, my name is Tushar
          <div>I'm a student</div>
          <span id="element"></span>
        </div>

        <div class="rightsection">
          <img src="{% static 'images/bg.webp' %}" alt="Background Image" />
        </div>
      </section>
    </main>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  </body>
</html>
